<h1>Add a New Bookmark</h1>
<%= simple_form_for [@list, @bookmark] do |form| %>
  <%= form.association :movie, collection: Movie.all, prompt: "Select a Movie" %>
  <%= form.button :submit %>
<% end %>
